:root {
    --font-size: 14px;
    --picked-color: #000000;
    --picked-size: 1px;
    --secondary-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    overscroll-behavior: contain;
}

canvas {
    display: block;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: auto;
    background: #ffffff;
    max-width: 100%;
    max-height: 100%;
}

header {
    width: 100%;
    padding: 0.5em;
    background: #eef4f9;
}

main {
    background: #f8f8f8;
}

.header-option {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.opt {
    width: 40px;
    height: 30px;
    max-height: 30px;
    border: 1px solid #e4eaee;
    text-align: center;
    /* padding: 1%; */
    border-radius: 5px;
    cursor: pointer;
}

.all-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: flex-end;
    max-height: 125px;
    background: #f9f9f9;
    border: 1px solid #ebebeb;
}

.fea-header {
    display: none;
    width: 60px;
    text-align: center;
    border: 1px solid #ebebeb;
    /* height: 150px; */
    max-height: 150px;
    padding: 1%;
}

.fea-name {
    width: 100%;
    text-align: center;
}

#size-box {
    display: flex;
    flex-direction: column;
    min-height: 70px;
}

.color-picker,
.tools,
.shapes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
    max-width: 25%;
    border: 1px solid #ebebeb;
    max-height: 150px;
    padding: 1%;
}

.color-picker {
    flex-wrap: nowrap;
    flex-direction: column;
}

.color-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.bottom-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}


.clr {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    /* border: 3px solid rgb(214, 214, 214); */
    margin: 2px;
    cursor: pointer;
    transition: transform .5s;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
}

.clr:hover {
    transform: scale(1.2);
}

.size-picker {
    width: 150px;
    position: absolute;
    display: none;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    top: 130px;
    left: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.size-block {
    width: 100%;
}

.line {
    flex: 0 0 auto;
    margin: 8px;
    padding: 2px;
    cursor: pointer;
    border: none;
}

.tool,
.shape {
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    /* border: 1px solid #000000; */
    cursor: pointer;
    text-align: center;
    /* padding: 6%; */
}

.bottom-contain {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.bottom-contain>div {
    flex: 0 0 auto;
    min-width: 25%;
    border-right: 1px solid;
}

.diamond {
    transform: rotate(45deg);
}

.sline {
    background: #000000;
    padding: 0.6px;
    border-radius: 5px;
    height: 1px;
    transform: rotate(45deg);
}

.pentagon {
    transform: rotate(-55deg);
}

.selected {
    pointer-events: none;
    border: 1px solid;
    width: 30px;
    height: 30px;
    /* border-radius: 0; */
}

.more-color {
    min-width: 30px;
    height: 30px;
}

.selected-color {
    height: 100%;
}

.non-selected {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:800px) {
    :root {
        --font-size: 12px;
    }

    .fea-header {
        display: flex;
        flex-direction: column;
    }

    .color-picker,
    .tools,
    .shapes,
    .size-picker {
        display: none;
        top: 110px;
        left: 5px;
        position: absolute;
        max-width: 100%;
        background: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    /* .all-btn {
        flex-direction: column;
    } */
}